[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}
User={{ zookeeper.systemdconfig.user }}
Group={{ zookeeper.systemdconfig.group }}
ExecStart={{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/bin/zkServer.sh start {{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/conf/zoo.cfg
ExecStop={{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/bin/zkServer.sh stop {{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/conf/zoo.cfg
ExecReload={{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/bin/zkServer.sh restart {{ zookeeper.pkg.installdir }}/zookeeper-{{ zookeeper.pkg.version }}/conf/zoo.cfg
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target

